body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Jupiter Bold', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation{
  background-color: chartreuse;
  height: 50px;
  padding: 20px;
  text-align:justify;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  
}

h2{
  text-align: center;
}
a {
  text-decoration:none;
}

img{
  border-radius: 20px;
}

.character-container{
  display:grid;
  justify-content: center;
  align-items:center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  
}

.character-portrait{
  grid-column: 2;
  justify-self: center;
}

.character-name{
  margin: 20px;
}

